.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
}

.headline {
  text-align: center;
  line-height: 1.5em;
  font-size: 2em;
  font-family: var(--StyleFont);
  color: var(--PrimaryClr);
}
.headline h1 {
  margin: 0;
  font-weight: lighter;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.48);
}

.headlineBG {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-image: url("/images/MainHeader.svg");
  background-size: 110%;
  background-position: center center;
  background-repeat: no-repeat;
}

.information {
  margin-top: -30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridcontainer {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  background: white;
  border-radius: 10px;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    "ConsumerIco DifficultyIco"
    "ConsumerVal DifficultyVal";
}
.ConsumerIco {
  grid-area: ConsumerIco;
}

.DifficultyIco {
  grid-area: DifficultyIco;
}
.ConsumerVal {
  grid-area: ConsumerVal;
}

.DifficultyVal {
  grid-area: DifficultyVal;
}
