.gridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas: "left center right";
  background-color: black;
  border-bottom: 2px solid var(--MainClr);
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 500;
}
.backBtn {
  grid-area: left;
  text-align: left;
}

.backBtn img {
  height: 100%;
}

.logoBtn {
  grid-area: center;
  text-align: center;
}

.logoBtn img {
  width: 75%;
}

.menuBtn {
  grid-area: right;
  text-align: right;
}

.menuBtn img {
  height: 100%;
}
