.gridContainer {
  display: grid;
  width: 100%;
  height: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 0;
  grid-template-areas: "left center right";
  background-color: var(--MainClr);
  border-radius: 20px 20px 0 0;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
}
.homeBtn {
  grid-area: left;
  text-align: left;
}

.homeBtn img {
  height: 100%;
}

.searchBtn {
  grid-area: center;
  text-align: center;
  margin-top: -25px;
}

.searchBtn img {
  width: 70px;
}

.socialBtn {
  grid-area: right;
  text-align: right;
}

.socialBtn img {
  height: 100%;
}
