.recipe {
  margin-bottom: 10px;
  border: 3px solid var(--MainClr);
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.76);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-height: 100px;
  grid-template-areas:
    "Img Img Name Name Name"
    "Img Img Name Name Name"
    "Img Img Name Name Name"
    "Img Img Button Button Button";
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

.recipeImg {
  grid-area: Img;
  text-align: left;
}
.recipeName {
  text-align: center;
  line-height: 1.5em;
  grid-area: Name;
  font-size: 1.2em;
  font-family: var(--StyleFont);
  color: var(--MainClr);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.recipeName h3 {
  margin: unset;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.48);
  font-weight: lighter;
}

.recipeOpen {
  grid-area: Button;
  display: flex;
  justify-content: flex-end;
}

.recipeImg img {
  max-height: 100%;
  border-radius: 50%;
  border: 4px solid var(--MainClr);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}
.recipeOpen img {
  width: 7em;
}

.container {
  display: grid;
  padding-right: 10%;
  width: auto;
  height: 100vh;
  background-image: url("https://images.wallpaperscraft.com/image/palm_trees_dawn_birds_125099_3840x2160.jpg");
  overflow: auto;
}

.list {
  margin: 0;
  padding-bottom: 8em;
  display: grid;
  row-gap: 1em;
}

/* KEYFRAMES */

/**
   * ----------------------------------------
   * animation slide-in-elliptic-top-fwd
   * ----------------------------------------
   */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
