.recipe {
  border: 3px solid var(--MainClr);
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "Img Img Name Name Name"
    "Img Img Name Name Name"
    "Img Img Name Name Name"
    "Img Img Button Button Button";
}

.recipeImg {
  grid-area: Img;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipeName {
  text-align: center;
  line-height: 1.5em;
  grid-area: Name;
  font-size: 1.5em;
  font-family: var(--StyleFont);
  color: var(--MainClr);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.recipeName h3 {
  margin: unset;
}

.recipeOpen {
  grid-area: Button;
  display: flex;
  justify-content: flex-end;
}

.recipeImg img {
  width: 100%;
  border-radius: 50%;
  border: 0.4em solid var(--MainClr);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}
.recipeOpen img {
  width: 60%;
}
