.gridContainer {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
  grid-template-areas: "deutsch spanisch italienisch amerikanisch";
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}

.gridContainer::-webkit-scrollbar {
  display: none;
}

.deutsch {
  grid-area: deutsch;
}
.spanisch {
  grid-area: spanisch;
}
.italienisch {
  grid-area: italienisch;
}
.amerikanisch {
  grid-area: amerikanisch;
}

.category {
  border-radius: 50%;
  border: 2px solid var(--MainClr);
  width: 90px;
  height: 90px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  overflow: hidden;
}

.image {
  width: 100%;
}
.name {
  font-size: 0.8em;
  text-align: center;
  margin-top: -70%;
  position: relative;
  z-index: 2;
  font-family: var(--StyleFont);
  color: var(--MainClr);
}

.category h3 {
  margin: unset;
}

/* KEYFRAMES */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
