.MainMenu {
  text-align: center;
  color: var(--PrimaryClr);
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.918);
  z-index: 99;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  pointer-events: none;
}

.open {
  opacity: 1;
  pointer-events: all;
}

.MainMenuInner {
  width: 85vw;
  height: 85vh;
  display: grid;
  justify-content: center;
  align-content: center;
  border: 3px solid white;
}

.MainMenuInner hr {
  width: 40vw;
}

.menuHead {
  font-family: var(--StyleFont);
  font-size: 2em;
}

.menuElements {
  font-family: var(--BodyFont);
}

.menuElements h3 {
  margin: 0.5em;
  font-size: 1.1em;
}

.social img {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.closeBtn {
  margin-top: 1em;
  width: 3em;
}
