html,
body {
  width: 100vw;
  max-height: 100vh;
  background-color: black;
  background-image: url(/images/woodenBG@2x.png);
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,
    TrajanProRegular, TrajanProRegularBold, SilliiWillinnRegular;
}

@font-face {
  font-family: "TrajanProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/TrajanPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "TrajanProBold";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/TrajanPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "SilliiWillinnRegular";
  font-style: normal;
  font-weight: light;
  src: url("/fonts/SilliiWillinnFont.woff") format("woff");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* root colors */
  --MainClr: #890000;
  --PrimaryClr: white;
  --InputBgClr: #f2f2f2;
  --InputTxtClr: black;

  /* root fonts */
  --BodyFont: "TrajanProRegular", sans-serif;
  --BodyBoldFont: "TrajanProBold", sans-serif;
  --StyleFont: "SilliiwillinnRegular", sans-serif;
}

ul {
  padding-inline-start: unset;
}

.container {
  padding: 0 2rem 2rem 2rem;
}

.staticmain {
  font-family: var(--BodyFont);
  color: var(--PrimaryClr);
}

.recipeheadline {
  text-align: center;
  color: var(--PrimaryClr);
  font-family: var(--BodyFont);
  font-size: 2em;
  margin-bottom: 1em;
}

.placeholder {
  height: 120px;
}
